extends layout




block content
  - var restaurant= { name: "Katyusha", orders :  [ { idOrder: 0, table: '1', foods: ['Kebab', 'Frites','Coca-cola'] }, { idOrder: 1, table: '2', foods: ['Tacos', 'FuzeTea'] }, { idOrder: 2, table: '3', foods: ['Kebab'] }, { idOrder: 3, table: '666', foods: ['MJG'] }, { idOrder: 4, table: '12', foods: ['Pizza','Fanta'] }, { idOrder: 5, table: '10', foods: ['Pizza', 'Pizza','Pizza'] }, { idOrder: 5, table: '10', foods: ['Pizza', 'Pizza','Pizza'] }, { idOrder: 5, table: '10', foods: ['Pizza', 'Pizza','Pizza'] }, { idOrder: 5, table: '10', foods: ['Pizza', 'Pizza','Pizza'] }, { idOrder: 5, table: '10', foods: ['Pizza', 'Pizza','Pizza'] }, { idOrder: 5, table: '10', foods: ['Pizza', 'Pizza','Pizza'] }, { idOrder: 5, table: '10', foods: ['Pizza', 'Pizza','Pizza'] }, { idOrder: 5, table: '10', foods: ['Pizza', 'Pizza','Pizza'] }, { idOrder: 5, table: '10', foods: ['Pizza', 'Pizza','Pizza'] }, { idOrder: 5, table: '10', foods: ['Pizza', 'Pizza','Pizza'] }]}           

  h1= restaurant.name
  p Welcome to #{restaurant.name}

  #div1
    h2 Let jQuery AJAX Change This Text

  div(class="row")
    each order in restaurant.orders
      div(class="col col-xs-12 col-sm-6 col-md-3")
        div(class="card")
          div(class="card-header")= "Table n°" + order.table
          div(class="card-body")
            h5(class="card-title") Repas
            each food in order.foods
              h6(class="card-subtitle mb-2 text-muted")= food

  
